*.log
*.pot
*.pyc
local_settings.py
*~
.DS_Store
api/settings.py
api/mfold/[0-9][0-9]:[0-9][0-9]:[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]
mfold_files/[0-9][0-9]:[0-9][0-9]:[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9].*