*.log
*.pot
*.pyc
*~
.DS_Store
*.so
__pycache__
*.egg
*.egg-info
.coverage
htmlcov
coverage.xml
output.xml
.ropeproject
.vagrant
build
mfold_files
_build
shmir.conf
flower_openid
oauth2_key
oauth2_secret
oauth2_redirect
supervisord.pid
pdb.sock
fasta
blast
.tox
.eggs
