*.log
*.pot
*.pyc
local_settings.py
*~
.DS_Store
shmir_api/settings.py
mfold_files
*.so
__pycache__
*.egg
*.egg-info
local.cfg
build
.installed.cfg
bin
develop-eggs
eggs
parts
ftp_files
.coverage
htmlcov
coverage.xml
output.xml