Flask==0.10.1
psycopg2==2.5.2
sqlalchemy==0.9.2
uWSGI==2.0.7
redis==2.10.2

# Waiting for issue being resolved:
# https://github.com/celery/librabbitmq/issues/61
# This library is not strictly required, but it improves performance of
# RabbitMQ usage.
#
# librabbitmq==1.6.1

celery==3.1.17
flower==0.7.3
biopython==1.64
Flask-Cache==0.13.1
Sphinx==1.2.3
sphinxcontrib-fulltoc==1.0
rpdb==0.1.5
rpcpdb==0.4.2
alembic==0.7.4
